<nav
  class="px-16 bg-white border-gray-200 dark:bg-gray-800 dark:border-gray-700 h-[100px] flex justify-between border-b-2"
>
  <div
    class="container flex flex-wrap items-center justify-between mx-auto flex-1"
  >
    <div class="w-[135px] cursor-pointer">
      <img
        src="http://ghn.ge/img/uploads/files/news/2015-08/1438961480.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="container flex items-center mx-auto flex-1">
    <label
      for="default-search"
      class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300"
      >ძიება</label
    >
    <div class="relative w-[45%]">
      <div
        class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-500 dark:text-gray-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </div>
      <input
        type="search"
        id="default-search"
        class="block p-3 pl-10 w-full text-sm text-gray-900 bg-[#f4f6fe] rounded-full focus:outline-1 focus:outline-gray-200"
        placeholder="ძიება"
        required=""
      />
    </div>
    <div class="flex flex-1 items-center justify-between">
      <div class="ml-[5%] flex flex-1 items-center">
        <span class="border-r-2 border-[#e1e5ef] pr-4 text-[#344a83]">
          <span class="mb-4 text-[##344a83] cursor-pointer">ENG</span>
        </span>
        <span
          class="relative inline-block ml-4 bg-[#f4f6fe] px-[10px] py-[8px] rounded-full"
        >
          <span
            class="material-icons text-[25px] text-[#344a83] cursor-pointer"
          >
            notifications
          </span>
          <span
            class="absolute top-[4px] left-[26px] inline-block w-2 h-2 transform translate-x-1/2 -translate-y-1/2 bg-red-600 rounded-full"
          ></span>
        </span>
      </div>
      <span
        class="relative inline-block ml-4 bg-[#f4f6fe] px-[10px] py-[8px] rounded-full"
      >
        <span class="material-icons text-[25px] text-[#344a83] cursor-pointer">
          person
        </span>
      </span>
      <span class="font-semibold m-3 text-[#344a83]">მარიამ ნინიძე</span>
      <span class="material-icons cursor-pointer"> arrow_drop_down </span>
    </div>
  </div>
</nav>
<div class="flex flex-wrap items-center py-4 px-16 shadow-md shadow-gray-200">
  <span class="material-icons pr-6 text-[30px] text-[#344a83] cursor-pointer">
    home
  </span>
  <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
    <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm">
      <li>
        <a
          href="#"
          class="font-bold text-[15px] block py-2 pr-4 text-[#344a83] ml-2 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#f471a6] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
          aria-current="page"
          >ჩემი პოლისები</a
        >
      </li>
      <li class="flex">
        <a
          href="#"
          class="font-bold text-[15px] py-2 pr-4 pl-3 text-[#344a83] border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#f471a6] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
          >ანაზღაურება</a
        >
        <span class="material-icons cursor-pointer"> arrow_drop_down </span>
      </li>
      <li>
        <a
          href="#"
          class="font-bold text-[15px] block py-2 pr-4 pl-3 text-[#344a83] border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#f471a6] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
          >ექიმთან ჩაწერა</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-bold text-[15px] block py-2 pr-4 pl-3 text-[#344a83] border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#f471a6] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
          >მიმართვები</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-bold text-[15px] block py-2 pr-4 pl-3 text-[#f471a6] border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#f471a6] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
          >გადახდები</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-bold text-[15px] block py-2 pr-4 pl-3 text-[#344a83] border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#f471a6] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
          >გახარჯვები</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-bold text-[15px] block py-2 pr-4 pl-3 text-[#344a83] border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#f471a6] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
          >სტომატოლოგიური კლინიკები</a
        >
      </li>
    </ul>
  </div>
</div>
<main class="px-16 py-1 text-[#c4c4d5]">
  <div class="my-2 flex items-center h-10 text-xs font-semibold text-[#c4c4d5]">
    <span class="material-icons text-sm font-semibold pt-[1px] cursor-pointer">
      arrow_back_ios
    </span>
    <span class="cursor-pointer">უკან დაბრუნება</span>
  </div>
  <div
    class="w-full p-6 rounded shadow-xl shadow-[0_2px_40px_0px_rgba(0,100,60,0.1)]"
  >
    <div class="">
      <div
        class="text-[18px] font-bold mb-2 text-[#344a83] pb-3 border-b font-Mtavruli"
      >
        დაზღვევის გადახდა
      </div>
    </div>
    <div class="px-7 py-8 flex">
      <div class="flex-auto w-64 text-sm mr-6">
        <h4 class="font-bold text-[#344a83]">ჩემი პოლისები</h4>
        <div class="flex px-4 py-7 border rounded-md mt-3 mb-7">
          <div>
            <span
              class="inline-block bg-[#f4f6fe] px-[8px] py-[6px] rounded-full mr-4"
            >
              <span class="material-icons text-[20px] text-[#706e96]">
                drafts
              </span>
            </span>
          </div>
          <div>
            <h4 class="text-[#344a83] font-bold text-[15px]">
              ქონების დაზღვევა, პასუხისმგებლობის დაზღვევა
            </h4>
            <h4 class="text-sm mb-2">რობაქიძის გამზირი 7/5</h4>
            <h4 class="text-[#344a83] font-bold text-[15px]">
              დაზღვეული - გიორგი გიორგიშვილი
            </h4>
          </div>
        </div>
        <h4 class="text-[#344a83] font-bold">გადახდის მეთოდი</h4>
        <div class="grid grid-cols-2 gap-4 mt-4 pb-6 border-b">
          <div
            [ngClass]="
              testArray[0]
                ? 'bg-[#f4f6fe] border rounded-xl p-4 flex flex-wrap items-center justify-between cursor-pointer'
                : 'border rounded-xl p-4 flex flex-wrap items-center justify-between cursor-pointer'
            "
            (click)="testFunction(0)"
          >
            <input
              id="default-radio-1"
              type="radio"
              value=""
              name="default-radio"
              class="w-5 h-5 accent-pink-300 accent-pink-500 p-2 cursor-pointer"
              (change)="testFunction(0)"
              [checked]="testArray[0]"
            />
            <div class="flex item-center">
              <span class="mr-5 text-[#344a83] text-[17px]"
                >**** **** **** 0333</span
              >
              <img
                class="w-8 inline-block"
                src="https://www.logo.wine/a/logo/Mastercard/Mastercard-Logo.wine.svg"
                alt=""
              />
            </div>
          </div>
          <div
            [ngClass]="
              testArray[1]
                ? 'bg-[#f4f6fe] border rounded-xl p-4 flex flex-wrap items-center justify-between cursor-pointer'
                : 'border rounded-xl p-4 flex flex-wrap items-center justify-between cursor-pointer'
            "
            (click)="testFunction(1)"
          >
            <input
              id="default-radio-1"
              type="radio"
              value=""
              name="default-radio"
              class="border-gray-100 w-5 h-5 accent-pink-300 accent-pink-500 p-2 cursor-pointer"
              (change)="testFunction(1)"
              [checked]="testArray[1]"
            />
            <div class="flex item-center">
              <span class="mr-5 text-[#344a83] text-[17px]"
                >**** **** **** 0333</span
              >
              <img
                class="w-10 h-6 inline-block"
                src="https://1000logos.net/wp-content/uploads/2021/11/VISA-logo.png"
                alt=""
              />
            </div>
          </div>
          <div
            [ngClass]="
              testArray[2]
                ? 'bg-[#f4f6fe] border rounded-xl p-4 flex flex-wrap items-center justify-between cursor-pointer'
                : 'border rounded-xl p-4 flex flex-wrap items-center justify-between cursor-pointer'
            "
            (click)="testFunction(2)"
          >
            <input
              id="default-radio-1"
              type="radio"
              value=""
              name="default-radio"
              class="border-gray-100 w-5 h-5 accent-pink-300 accent-pink-500 p-2 cursor-pointer"
              (change)="testFunction(2)"
              [checked]="testArray[2]"
            />
            <div class="flex item-center">
              <span class="mr-2 text-[#344a83] font-bold">ახალი ბარათი</span>
            </div>
          </div>
        </div>
        <div class="flex p-4 rounded-md mt-5 mb-5 bg-[#f4f6fe]">
          <div>
            <span class="material-icons text-[30px] text-pink-500 mr-3">
              check_circle
            </span>
          </div>
          <div>
            <h4 class="text-[#344a83] font-bold text-[15px]">
              ავტომატური გადახდის ჩართვა
            </h4>
            <h4 class="font-bold text-[15px] mt-1">
              ავტომატურად ჩამომეჭრას თანხა მითითებული ბარათიდან გადახდის
              გრაფიკის შესაბამისად
            </h4>
            <h4 class="mt-2 text-[15px] text-pink-500 underline">
              გადახდის გრაფიკი
            </h4>
          </div>
        </div>
      </div>
      <div class="mt-4 flex-auto w-48">
        <div
          class="font-bold flex-row px-6 py-6 rounded-md mt-5 mb-5 bg-[#f4f6fe] w-[70%] ml-5"
        >
          <div class="flex justify-between">
            <p class="text-sm">სულ დარჩენილი გადასახადი</p>
            <p>1030.2 ₾</p>
          </div>
          <div
            class="flex justify-between mt-2 border-b-[3px] border-dashed pb-2"
          >
            <p class="text-[15px] text-[#344a83]">მიმდინარე დავალიანება</p>
            <p class="text-[19px] text-red-400 font-bold">32 $ / 104 ₾</p>
          </div>
          <div class="flex items-center justify-between pt-8 pb-7">
            <div class="text-[15px] flex-auto text-[#344a83]">
              გადასახდელი თანხა
            </div>
            <div
              class="px-4 border border-sky-400 bg-white h-11 w-[165px] flex-auto ml-6 rounded-md flex justify-between items-center"
            >
              <span class="text-[20px] text-[#344a83]">104 </span
              ><span class="text-[18px]">₾</span>
            </div>
          </div>
          <div class="flex justify-center">
            <button
              class="py-3 px-[95px] bg-pink-500 rounded-xl text-white text-[15px]"
            >
              გადახდა
            </button>
          </div>
          <div class="flex justify-between items-center mt-4">
            <div>
              <span class="material-icons text-[20px] outiline-gray-300 mr-3">
                info
              </span>
            </div>
            <p class="text-[13px]">
              თანხა დაკონვერტირებულია ეროვნული ბანკის მოქმედი გაცვლითი კურსის
              მიხედვით
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
